/* Color pallette: http://palette.site/palettes/7a9116 */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-size: 16px;
    background-color: #fefefe;
}

.wrapper {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    background-image: url(../images/osloSkyline.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 72vh;
}

h1 {
    font-family: 'Comfortaa';
    font-size: 6em;
    color: #fefefe;
    text-shadow: 1px 3px 7px #010101;
    text-align: center;
    margin-top: 2em;
}

.box {
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Spinnaker';
    font-size: 1.2em;
    text-align: center;
}

nav {
    list-style: none;
    font-family: 'Spinnaker';
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    color: #ee2626;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li a {
    text-decoration: none;
    list-style: none;
    margin-right: 1em;
    color: #ee2626;
    text-shadow: 0 1px 1px #666666;
}

nav li:hover {
    transform: scale(1.1);
}

nav li a:hover {
    text-shadow: 0 1px 2px #666666;
}

/* *Media Queries */
@media only screen and (max-width: 1024px) {
    p {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 580px) {
    nav {
        display: flex;
        justify-content: center;
        padding: 1em;
    }

    h1 {
        font-size: 3em;
    }

    .wrapper {
        width: 100%;
    }

    p {
        font-size: 1.2em;
    }

    section {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
    }
}